.phoneImageContainer {
  position: absolute;
  height: 1284px;
  width: 640px;
  background-image: url("https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iOS/ios13-iphone-xs-home-assistive-touch.png");
}

.notesContainer {
  position: absolute;
  background-color: white;
  height: 90px;
  width: 89.5px;
  left: 33%;
  /* left: 13%; */
  top: 34.65%;
  border-radius: 23%;
  overflow: hidden;
}

.notesHeader {
  position: relative;
  height: 21.6px;
  /* background-color: rgb(254, 205, 13); */
  background: linear-gradient(180deg, rgb(255, 222, 90) 30%, rgb(255, 204, 7) 90%);
  box-shadow: 0 2.5px 0px 0px rgb(187, 181, 181);
}

.notesDots {
  position: relative;
  opacity: 36%;
  top: -8px;
}

.notesLine1 {
  position: relative;
  background-color: rgb(226, 225, 228);
  top: 3.4px;
  height: 2.3px;
}

.notesLine2 {
  position: relative;
  background-color: rgb(226, 225, 228);
  top: 24px;
  height: 2.3px;
}